[package]
name = "liquid_lang"
version = "0.1.0"
authors = ["vita-dounai <lichenxi.webank@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
paste = "0.1.17"

liquid_macro = { version = "0.1.0", path = "../macro", default-features = false }
liquid_lang_macro = { version = "0.1.0", path = "macro", default-features = false }
liquid_abi_coder = { version = "0.1.0", path = "../abi-coder", default-features = false }
liquid_primitives = { version = "0.1.0", path = "../primitives", default-features = false }
liquid_core = { version = "0.1.0", path = "../core", default-features = false }
liquid_abi_gen = { version = "0.1.0", path = "../abi-gen", default-features = false, optional = true }

[features]
default = ["std"]
std = [
    "liquid_abi_gen/std",
    "liquid_lang_macro/std",
    "liquid_abi_coder/std",
    "liquid_primitives/std",
    "liquid_core/std",
]
liquid-abi-gen = [
    "std",
    "liquid_abi_gen",
]
